[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.0.8"
mysqlclient = "*"
unicodecsv = "*"
pypinyin = "*"
"6210100" = {file = "https://github.com/darklow/django-suit/tarball/v2"}

[dev-packages]

[requires]
python_version = "3.6"
