[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
mysqlclient = "*"
"cce4815" = {file = "https://github.com/Sicilia04/django-suit/tarball/v2"}
unicodecsv = "*"
pypinyin = "*"


[dev-packages]



[requires]

python_version = "3.6"
